#site-description {
    font-size: 20px;
}

.page-header {
    margin-bottom: 9px;
    padding-bottom: 0;
}

blockquote.hero-unit q {
    font-weight: bold;
}

nav.global-nav {
    border-bottom: 1px solid @grayLight;
    margin-bottom: 5px;
    padding-bottom: 5px;

    ul {
        margin-bottom: 0;
    }

    .nav-pills > li > a {
        color: @bridgesOrange;
    }

    .nav-pills > .active > a,
    .nav-pills > .active > a:hover {
        color: @white;
        background-color: @bridgesOrange;
    }
}

#page-footer nav {
    margin-bottom: 10px;
}
