body {
    background-color: @grayLighter;
    font-family: @sansFontFamily;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 10px;
}

div.main {
    background-color: @white;
    .border-radius(4px 4px 0 0);
    margin-bottom: 0;
    padding: 0px 20px 0px 20px;
}

#site-header {
    #follow-buttons {
        margin-top: 8px;
        text-align: right;

        img {
            margin-left: 4px;
        }
    }

    #logo {
        display: inline;
        float: left;
        height: 100px;
        width: 165px;
    }

    #name-and-tagline {
        clear: none;
        margin-left: 180px;

        h1 {
            clear: none;
            font-family: "Questrial", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 48px;
            line-height: 25px;
            margin-bottom: 2px;
            margin-top: 35px;

            a {
                color: @textColor;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        h2 {
            clear: none;
            color: @caaBlue;
            font-size: 24px;
            font-style: italic;
            font-weight: normal;
            margin-bottom: 0px;
            margin-top: 0px;
            text-align: right;
        }
    }
}

#global-nav {
    font-family: @sansFontFamily;
    margin-top: 10px;
    margin-left: (@gridGutterWidth * -1);
    margin-right: (@gridGutterWidth * -1);

    .navbar-inner {
        .border-radius(0px);
        padding-left: 0;
    }

    .nav {
        margin-left: 5px;

        li {
            font-size: 18px;
            font-weight: bold;

            a {
                line-height: 28px;
            }

            &:hover {
                background-color: darken(@caaBlue, 10%);
            }
        }
    }

    /* Bootstrap adds a box-shadow effect that we want to remove */
    .nav > .active > a,
    .nav > .active > a:hover,
    .nav > .active > a:focus {
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }

    form {
        margin-top: 3px;

        /* This matches the padding on the well element below the search input */
        padding-left: 19px;
        padding-right: 19px;
    }
}

#front-page-photos {
    height: 449px;
    width: 700px;
    margin-bottom: 40px;

    .front-page-photo {
        font-family: @sansFontFamily;

        .caption {
            background-color: @caaGray;
            color: @gray;
            font-size: 16px;
            padding: 3px 0 3px 0;
            text-align: center;
        }
    }
}

#front-page-content {
    h2 {
        border-top: 12px solid @caaGray;
        margin-top: 20px;
        padding-top: 20px;

        &:first-child {
            border-top: 0;
            margin-top: 0;
            padding-top: 0;
        }
    }
}

#right-nav {
    background-color: @caaGray;
    color: @grayDarker;

    h2 {
        background-color: @caaGreen;
        color: @white;
        font-size: 18px;
        margin: 10px 0 10px 0;
        padding: 0px 15px 0px 15px;
        text-align: center;

        a, a:hover, a:visited {
            color: @white;
        }

        img.rss {
            margin-left: 5px;
            vertical-align: -5%;
        }

        &:first-child {
            margin-top: 0;
        }
    }

    .right-side-content {
        padding: 10px;
    }

    .right-side-actions {
        font-size: 15px;
        text-align: center;

        form {
            margin: 10px 0 0 0;

            input[type="text"],
            input[type="email"] {
                width: 170px;
            }

            input[type="submit"] {
                font-family: @sansFontFamily;
            }

            .ajax-loader {
                display: none;
            }
        }

        a, button, input[type="submit"] {
            display: block;
            font-size: 18px;
            font-weight: bold;
            margin: 5px 0 34px 0;

            i {
                vertical-align: 0%;
            }
        }

        button, input[type="submit"] {
            width: 100%;
        }
    }

    .event {
        h3.date {
            color: @grayDark;
            font-size: 12px;
            line-height: 12px;
            margin-bottom: 2px;
            margin-top: 0;
        }

        h3.event {
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 15px;
            margin-top: 0;
        }
    }
}

#page-title {
    margin-top: 0;
}

p.byline {
    font-size: 14px;
    line-height: 18px;
}

.entry-content {
    .featured-image, .post-thumbnail {
        margin: 0 0 20px 20px;
    }
}

.previous {
    float: right;
}

footer {
    color: @white;
    margin-left: (@gridGutterWidth * -1);
    margin-right: (@gridGutterWidth * -1);

    a {
        color: @white;

        &:hover {
            color: @grayLighter;
        }
    }

    #footer-nav {
        background-color: @caaBlue;
        padding: 10px @gridGutterWidth;

        ul {
            font-weight: bold;
            list-style: none;
            margin-bottom: 0;
            margin-left: 0;

            li {
                display: inline;
                margin-left: 0;
                margin-right: 5px;

                &:after {
                    content: "|";
                    margin-left: 10px;
                }

                &:last-child:after {
                    content: "";
                }
            }
        }
    }

    #colophon {
        background-color: @caaGreen;
        padding: 10px @gridGutterWidth;
    }
}

h3.subtitle {
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 15px;
}

img.content-right {
    margin-left: 20px;
}

.campaigns {
    .clearfix();

    h4 {
        clear: none;
    }
}

.sidekick-unit {
    background-color: @caaGray;
    .border-radius(6px);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
    padding: 10px;

    &.with-image {
        width: 65%;
    }

    blockquote {
        margin-bottom: 0px;

        small {
            color: @gray;
        }
    }
}

#social-buttons {
    overflow: hidden;

    .social-button {
        float: left;
    }
}

.kill-gradient() {
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}

.btn {
    .border-radius(0px);
    .kill-gradient();
}
